---
import { SITE_TITLE } from '../config';
import HeaderLink from './HeaderLink.astro';
import Toggle from './Toggle.js';
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
	<h2 class="font-semibold tracking-tighter p-2 text-lg">
		WiZtEk
	</h2>
	<div class="items-center gap-6 hidden md:flex">
		<HeaderLink href="{HOMEPAGE_URL}">Home</HeaderLink>
		<HeaderLink href="https://twitter.com/abdulkareemoj" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/abdulkareemoj" target="_blank">GitHub</HeaderLink>
	</div>
<div class="flex-1"></div>
<Toggle />
</nav>
</div>
</header>
<!-- <style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style> -->
