<section class="relative mb-6 h-80 flex jusify-center items-center">
   
   <div class="absolute w-full h-hull overflow-hidden">
  <!-- add soemthing here for the masthead background cue 44:59 in the vid -->
   </div> 
   <div class="z-10 tect-center px-8 drop-shadow-lg shadow-black">
<div class="uppercase text-sm mb-4">
    welcome to

</div>
<div class="text-4xl  font-medium">
    a list of tools i <span class="text-orange-500">use</span> 

</div>
   </div>

    Masthead

    </section>>